name: Build

on:
  push:
    branches: ["**"]
    tags-ignore: ["**"]
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build plugin
        env:
          RELEASE_VERSION: "1.0.0" # temporarily for the first ever release
        run: ./gradlew buildPlugin --stacktrace

      - name: Upload build artifact
        uses: actions/upload-artifact@v6
        with:
          name: geode-plugin
          path: build/distributions/*.zip